---
http_interactions:
- request:
    method: get
    uri: https://api.xmltime.com/astronomy?accesskey=<access_key>%3Btimestamp=2020-02-17T22:55:16%3Bsignature=C1j9H65ryapeBp2zaBhUKZec/3Y=%3Bversion=3%3Bout=js%3Bobject=moon%3Bplaceid=16%3Bstartdt=2020-02-01%3Btypes=phase
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"version":3,"billing":{"credits":1},"locations":[{"id":"16","geo":{"name":"Amsterdam","country":{"id":"nl","name":"Netherlands"},"latitude":52.373,"longitude":4.894},"matchparam":"16","astronomy":{"objects":[{"name":"moon","days":[{"date":"2020-02-01","events":[],"moonphase":"waxingcrescent"}]}]}}]}'
  recorded_at: Mon, 17 Feb 2020 22:55:16 GMT
recorded_with: VCR 5.1.0
