.navbar-reconcept, .navbar-light .navbar-brand {
  color: #007BC0;
}

h3, h6 {
  color: #007BC0;
}

.header-margin {
  margin-top: 70px;
}

.intro {
  padding-top: 10px;
  padding-bottom: 10px;
}

.form {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: solid 1px #E2E6EA;
}

.moon_phase_button {
  padding-top: 10px;
}

.results {
  margin: 10px;
  padding: 5px;
  border: solid 1px #E2E6EA;
  border-radius: 4px;
  min-height: 100px;
}